# 📁 requirements.txt -----
flask
gunicorn
python-dotenv
authlib
requests
flask-sqlalchemy
psycopg2-binary
tqdm

git+https://github.com/CCRI-POPROX/poprox-concepts.git
git+https://github.com/CCRI-POPROX/poprox-storage.git
