# 📁 requirements.txt -----
flask
gunicorn
python-dotenv
requests
flask-sqlalchemy
psycopg2-binary
tqdm
markdown

git+https://github.com/CCRI-POPROX/poprox-concepts.git
git+https://github.com/CCRI-POPROX/poprox-storage.git
git+ssh://git@github.com/CCRI-POPROX/poprox-platform.git
