# 📁 requirements.txt -----
flask
gunicorn
python-dotenv
requests
flask-sqlalchemy
flask_httpauth
psycopg2-binary
tqdm
markdown
stamina


git+https://github.com/CCRI-POPROX/poprox-concepts.git
git+https://github.com/CCRI-POPROX/poprox-storage.git
