{% extends "email_template.html" %}
{% block body %}
<div>
    <h1> Confirm Your Email Address </h1>
    <hr>
    <p>Thank you for signing up to receive a POPROX daily personalized email newsletter.
        To start reading, please confirm your email address using the code below:
    </p>
    <div class="token_code">
        {{token.code}}
    </div>
    <p>
        This code will be valid for one hour.
        You can enter the code at the POPROX enrollment page,
        or you can <a href="{{enroll_link}}">click here.</a>
        Once you confirm your email address, we'll ask about
        your interests, demographics, and compensation preferences,
        and then send you your first newsletter!
    </p>
</div>
{% endblock %}
