{% extends "email_template.html" %}
{% block body %}
<h1> Welcome to POPROX </h1>
<hr>
<p>
    Thank you for agreeing to use the POPROX service.
    We're preparing a first newsletter for you right now, after which you can look forward to a daily newsletter.
    Over time POPROX will learn what sort of things you tend to click on and will try to give you more like this.
    You should receive your first newsletter within 10 minutes (if you don't, please check your spam folder).
</p>
<p>
    You can find a copy of the POPROX News Subscriber Consent Form <a href="{{consent_form_link}}">here</a>.
    Please download a copy of this for your records.


{% endblock %}
