{% extends "dev_main_layout.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item" aria-current="page"><a href="{{url_for('dev.dev_home')}}">dev dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">decoding page</li>

{% endblock %}

{% block content %}
<h1> Decoding </h1>
<dl>
    {% for key, var in decode_vars.items() %}
    <dt>
        {{key}}
    </dt>
    <dd>
        {{var}}
    </dd>
    {% endfor %}
</dl>

{% if newsletter %}
<h2>Newsletter dump for this newsletter</h2>
<pre><code>{{newsletter}}</code></pre>
{% endif %}
{% endblock %}
