{% extends "dev_main_layout.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item" aria-current="page"><a href="{{url_for('dev.dev_home')}}">dev dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">decoding page</li>

{% endblock %}

{% block content %}
<h1> Newsletter Loading Tool </h1>
<form action="{{url_for('dev.newsletter_loader_post')}}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

    <textarea name="newsletter">{{newsletter}}</textarea>
    <button type="submit">Submit</button>
</form>
{% endblock %}
