<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
  <h1>Team Management</h1>
  <h2>{{team.team_name}}</h2>
  <ul>
    {% for member in members %}
    <li>{{member.email}}</li>
    {% endfor %}
  </ul>

  <h2>Add Member</h2>
  <form method="post" action="{{url_for('admin.add_to_team', team_id = team.team_id)}}">
    <input type="email" id="email" name="email" placeholder="who">
    <input type="submit">
  </form>
</body>
</html>
