<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>

  {% if error %}
    <div class="error">{{error}}</div>
  {% endif %}

  <h1>Team Management</h1>
  <h2>{{team.team_name}} ({{team.team_id}})</h2>
  <h3>Rename</h3>
  <form method="post" action = "{{url_for('admin.edit_team_name', team_id=team.team_id)}}">
    <input type="text" id="team_name" name="team_name" placeholder="team_name" required>
    <input type="submit">
  </form>
  <h3>Members</h3>
  <ul>
    {% for member in members %}
    <li>{{member.email}}</li>
    {% endfor %}
  </ul>

  <h3>Add Member</h3>
  <form method="post" action="{{url_for('admin.add_to_team', team_id = team.team_id)}}">
    <input type="email" id="email" name="email" placeholder="who">
    <input type="submit">
  </form>
</body>
</html>
