/* General Styles */
body {
    /* font-family: ui-monospace; */
    background-color: #f8f8ff;
    color: #212A37;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    display:flex;
    flex-direction: column;
    /* background-image: url("/img/background.jpg"); */
}

.bg-dark {
    background-color: #212A37 !important;
}

/* Navigation Bar */

.navbar {
    background-color: #f8f8ff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-grow:0;
    max-height: 80px;
}

.navbar-brand {
    font-weight: bold;
    color: #f8f8ff !important;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.navbar .logo {
    max-height: 70px;
}

.nav-link {
    color: #f8f8ff !important;
    font-weight: 500;
}

.nav-link:hover {
    color:  rgb(46, 128, 119) !important;
    text-decoration: none;
}

.nav-tabs .nav-link {
    color:  rgb(46, 128, 119) !important;
    font-weight: 500;
}

.nav-tabs .nav-link:hover {
    color:  #212A37 !important;
    text-decoration: none;
}

body>div {
    flex-grow: 1;
}
/* Footer */

footer {
    background-color: #212A37;
    color: #f8f8ff;
    padding: 15px;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    flex-grow:0;
}


/* Cards */
.card {
    border: none;
    border-radius: 15px;
    background-color: #a3abbd22;
    color: #212A37;
    box-shadow: 0 6px 12px #a3abbd99;
    padding: 15px;
    /* text-align: center; */
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
}

.card-body {
    padding: 10px;
}

/* Buttons */
.pr-btn {
    background-color: #008e82aa;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.pr-btn:hover {
    background-color: #008e82;
    color: #ffffff;
}

.pr-btn:disabled {
	background-color: #a3abbd;
}

.form-control-30 {
	width: 30%;
}

.form-select {
	width: 30%;
}

/* .form-control {
    width: 30%
} */

input[type="email"] {
    margin: 10px;
    margin-top: 0px;
}

/*
* css for topics.html
*/
.pref-updated-flash {
	background-color: #22771133;
	padding: 0.25em;
	margin: -0.75em -0.75em 9px -0.75em;
}

.pref-item-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0rem;
    padding: 1rem;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}

.topic-label-container {
    width: 120px;
    flex-shrink: 0;
}

.topic-radio-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.topic-radio-container .form-check { /* Target the Bootstrap form-check within the radio container */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
	height: 63px;
}

.topic-radio-container .form-check-input {
    margin-right: 0;
    margin-bottom: 0.25rem;
    cursor: pointer;
}

.topic-radio-container .form-check-label {
    margin-left: 0;
    margin-bottom: 0;
    cursor: pointer;
}

.topic-radio-container label {
	width: 116px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0;
    cursor: pointer;
}

.topic-label-container strong {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media (min-width: 768px) {
    .pref-item-block {
        flex-wrap: nowrap;
    }

}

@media (min-wdith: 375px){
    .topic-radio-container .form-check {
        height: 63px;
    }
}

.progress-radio {
    height: 36px;
}

.topic-top-row {
    height: 2lh;
}

.pseudo-range-slider {
    width: 100%;
    position: relative; /* TODO: use bootstrap class in the html*/
    z-index: 2;
    background: transparent;
}

.pseudo-range-slider::-webkit-slider-runnable-track {
    background: transparent;
    height: 36px;
}
.pseudo-range-slider::-moz-range-track {
    background: transparent;
    height: 36px;
}
.pseudo-range-slider::-ms-track {
    background: transparent;
    color: transparent; /* IE hack */
    height: 36px;
}

.pseudo-range-slider::-webkit-slider-thumb {
    background-color: #cecece;
    border: 1px solid #cecece;
    box-shadow: 0 0 0 0.25rem #008e82aa;
    margin-top: 10px;
    width: 13px;
    height: 36px;
    z-index: 4;
}

.pseudo-range-slider::-moz-range-thumb {
    background-color: #cecece;
    border: 1px solid #cecece;
    box-shadow: 0 0 0 0.25rem #008e82aa;
    margin-top: 10px;
    width: 13px;
    height: 36px;
    z-index: 4;
}

.pseudo-range-slider::-ms-thumb {
    background-color: #cecece;
    border: 1px solid #cecece;
    box-shadow: 0 0 0 0.25rem #008e82aa;
    margin-top: 10px;
    width: 13px;
    height: 36px;
    z-index: 4;
}

.progress-bar-wrapper {
    position: absolute;
    top: 50%; /* TODO: use bootstrap class in the html*/
    left: 0; /* TODO: use bootstrap class in the html*/
    right: 0; /* TODO: use bootstrap class in the html*/
    height: 45px;
    background-color: #e9ecef;
    transform: translateY(-50%);
    display: flex;
    overflow: hidden;
    border-radius: 0.5em; /* TODO: use bootstrap class in the html*/
    z-index: 1;
}

.progress-bar-fill {
    height: 100%;
    background-color: #008e82aa; /* Progress color */
    position: absolute;
    top: 0;
}

.progress-bar-fill.negative {
    right: 50%;
    width: 0%;
    transform-origin: 100% 50%;
    transition: width 0.2s linear;
    border-radius: 0.5em 0 0 0.5em;
}

.progress-bar-fill.positive {
    left: 50%;
    width: 0%;
    transform-origin: 0% 50%;
    transition: width 0.2s linear;
    border-radius: 0 0.5em 0.5em 0;
}

.value-markers {
    position: absolute;
    top: 50%; /* TODO: use bootstrap class in the html*/
    left: 0; /* TODO: use bootstrap class in the html*/
    right: 0; /* TODO: use bootstrap class in the html*/
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
    z-index: 3;
}

.marker {
    font-size: 1.5rem;
    color: #cecece;
    cursor: pointer;
    line-height: 0;
    transform: translateY(-50%);
    pointer-events: auto;
    z-index: 1;
}

.pref-range-slider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #008e82aa 0%, #008e82aa var(--fill-percentage), #ccc var(--fill-percentage), #ccc 100%);
    height: 45px;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 36px;
}

.pref-range-slider::-moz-range-track {
    background: linear-gradient(to right, #008e82aa 0%, #008e82aa var(--fill-percentage), #ccc var(--fill-percentage), #ccc 100%);
    height: 45px;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 36px;
}

.pref-range-slider::-ms-thumb {
    background: linear-gradient(to right, #008e82aa 0%, #008e82aa var(--fill-percentage), #ccc var(--fill-percentage), #ccc 100%);
    height: 45px;
    border-radius: 5px;
    margin-top: 9px;
    margin-bottom: 36px;
}

.pref-range-slider::-webkit-slider-thumb {
    background-color: #cecece;
    border: 1px solid #cecece;
    box-shadow: 0 0 0 0.25rem #008e82aa;
    width: 13px;
    height: 50px;
    z-index: 4;
}

.pref-range-slider::-moz-range-thumb {
    background-color: #cecece;
    border: 1px solid #cecece;
    box-shadow: 0 0 0 0.25rem #008e82aa;
    width: 13px;
    height: 50px;
    z-index: 4;
}

.pref-range-slider::-ms-thumb {
    background-color: #cecece;
    border: 1px solid #cecece;
    box-shadow: 0 0 0 0.25rem #008e82aa;
    width: 13px;
    height: 50px;
    z-index: 4;
}

/* end topics.html */

/*
* css for consent1.html
*/

 h1 {
    text-align: center;
 }

.consent {
    margin: 2rem;
}

.consent:has(b.action) {
	padding: 1ex;
	border: solid 3px #227711;
	border-radius: 9px;
}

.accordion-header {
    background-color: #ececec;
}

.accordion-header .accordion-button{
    background-color: #ececec;
}

.accordion-header .accordion-button:not(.collapsed){
    background-color: #ececec;
    cursor: pointer;
}

.accordion-header.checked {
	background-color: #22771133;
}

.accordion-header.checked .accordion-button {
    background-color: #22771133;
}

.accordion-header.checked .accordion-button:not(.collapsed) {
    background-color: #22771133;
}

.accordion-header.error {
	background-color: #ef333363;
}

.accordion-header.error .accordion-button{
	background-color: #ef333363;
}

.accordion-header.error .accordion-button:not(.collapsed){
	background-color: #ef333363;
}

.minmax-icon {
	font-size: 1.5rem;
	margin-left: auto;
	font-family: monospace;
}

.minmax-icon::after {
	content: "[" attr(state-lbl) "]";
}

.consent-section {
	overflow: hidden;
	transition: height 1s;
    margin: 0.5em;
}

#consent-final {
	overflow: hidden;
	height: 0;
}

#consent-final p {
	margin: 2rem;
}

.error-flash {
	background-color: #ececec;
	color: #ef3333;
	padding: 0.25em;
	margin-top: 2rem;
}

@media (min-width:375) {
    /* h1 {
        font-size: 1em;
        text-align: center;
        margin: 1rem;
    } */
}

@media print {
	.consent-section {
		height: auto !important;
	}
}

/* end consent1.html */
