/* General Styles */
body {
    /* font-family: ui-monospace; */
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
    position: relative;
    /* background-image: url("/img/background.jpg"); */
}

/* Headings */
/*
h2 {
    color: #000000;
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin: 20px;
    margin-bottom: 20px;
}

h3 {
    color: rgb(46, 128, 119);
    font-weight: bolder;
} */

/* Cards */
.card {
    border: none;
    border-radius: 15px;
    background-color: rgba(46, 128, 118, 0.581);
    color: #000000;
    box-shadow: 0 6px 12px rgba(46, 128, 118, 0.1);
    padding: 15px;
    /* text-align: center; */
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;

}

/* .card:hover {
    box-shadow: 0 12px 24px rgba(46, 128, 118, 0.1);
    transform: translateY(-5px);
} */

/* Buttons */
.btn {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: rgb(46, 128, 119);
    color: #ffffff;
}

.btn:disabled {
	background-color: #000000;
}

/* body::after { */
    /* content: ''; */
    /* display: block; */
    /* height: 60px; */
    /* Set same as footer's height */
  /* } */

.form-control {
	width: 30%;
}



/*
* css for topics.html
*/
.pref-updated-flash {
	background-color: #22771133;
	padding: 0.25em;
	margin: -0.75em -0.75em 9px -0.75em;
}

.pref-item-block {
	margin: -0.25em 0 0 0;
}

.topic-radio-container {
	margin: -0.75em 0;
	align-content: center;
}

.topic-radio-container label {
	display: flex;
}

.topic-radio-container p {
	margin-left: 0.75em;
}


@media (max-width: 768px) {
	.pref-item-block {
		margin: -0.25em 0 0 0;
	}
}

/* end topics.html */

/*
* css for consent1.html
*/
h1 {
	font-size: 2em;
	text-align: center;
	margin: 1rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	margin-top: 0.5rem;
	font-weight: bolder;
	font-size: 1.25rem;
}

h4 {
	font-weight: bolder;
	display: inline;
}

h5 {
	font-weight: bold;
	display: inline;
}

h2~p,
h3 {
	margin-left: 2rem;
}

h3~p,
h3~ul,
h4 {
	margin-left: 3rem;
}

h4~p,
h4~ul,
h5 {
	margin-left: 4rem;
}


.consent {
	margin: 2rem;
}

.minmax-icon {
	font-size: 1.5rem;
	margin-left: auto;
	font-family: monospace;
}

.minmax-icon::after {
	content: "[" attr(state-lbl) "]";
}

.accordion-header {
	cursor: pointer;
	background-color: #ececec;
	display: flex;
	padding: 1rem;
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}

.accordion-header.checked {
	background-color: #22771133;
}

.accordion-header.error {
	background-color: #ef333363;
}

.consent-section {
	overflow: hidden;
	transition: height 1s;
}

#consent-final {
	overflow: hidden;
	height: 0;
}

#consent-final p {
	margin: 2rem;
}

.error-flash {
	background-color: #ececec;
	color: #ef3333;
	padding: 0.25em;
	margin-top: 2rem;
}

@media print {
	.consent-section {
		height: auto !important;
	}
}

/* end consent1.html */


/* css for onboarding_survey.html */

.onboarding-survey ul{
	list-style-type: none;
	display: inline-grid;
}

.onboarding-survey ul li {
	margin: 0.25em 0.25em 0.25em 0;
	padding: 0.25em;
}

.onboarding-survey .field{
	margin: 1rem;
}

.onboarding-survey input[type="text"] {
	max-width: 200px;
	/* margin-left: 1em; */

}
