/*
* css for topics.html
*/
.pref-updated-flash {
	background-color: #22771133;
	padding: 0.25em;
	margin: -0.75em -0.75em 9px -0.75em;
}

.pref-item-block {
	margin: -0.25em 0 0 0;
}

.topic-radio-container {
	margin: -0.75em 0;
	align-content: center;
}

.topic-radio-container label {
	display: flex;
}

.topic-radio-container p {
	margin-left: 0.75em;
}


@media (max-width: 768px) {
	.pref-item-block {
		margin: -0.25em 0 0 0;
	}
}

/* end topics.html */

/*
* css for consent1.html
*/
h1 {
	font-size: 2em;
	text-align: center;
	margin: 1rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	margin-top: 0.5rem;
	font-weight: bolder;
	font-size: 1.25rem;
}

h4 {
	font-weight: bolder;
	display: inline;
}

h5 {
	font-weight: bold;
	display: inline;
}

h2~p,
h3 {
	margin-left: 2rem;
}

h3~p,
h3~ul,
h4 {
	margin-left: 3rem;
}

h4~p,
h4~ul,
h5 {
	margin-left: 4rem;
}

.action-summary {
	font-weight: bold;
}

.consent {
	margin: 2rem;
}

/* put a box around all consent boxes except the final submit button. */
.consent:has(b.action) {
	padding: 1ex;
	border: solid 3px #227711;
	border-radius: 9px;
}

.minmax-icon {
	font-size: 1.5rem;
	margin-left: auto;
	font-family: monospace;
}

.minmax-icon::after {
	content: "[" attr(state-lbl) "]";
}

.accordion-header {
	cursor: pointer;
	background-color: #ececec;
	display: flex;
	padding: 1rem;
	margin-bottom: 0.1rem;
	margin-top: 0.1rem;
}

.accordion-header.checked {
	background-color: #22771133;
}

.accordion-header.error {
	background-color: #ef333363;
}

.consent-section {
	overflow: hidden;
	transition: height 1s;
}

#consent-final {
	overflow: hidden;
	height: 0;
}

#consent-final p {
	margin: 2rem;
}

.error-flash {
	background-color: #ececec;
	color: #ef3333;
	padding: 0.25em;
	margin-top: 2rem;
}

@media print {
	.consent-section {
		height: auto !important;
	}
}

/* end consent1.html */


/* css for onboarding_survey.html */

.onboarding-survey ul{
	list-style-type: none;
	display: inline-grid;
}

.onboarding-survey ul li {
	margin: 0.25em 0.25em 0.25em 0;
	padding: 0.25em;
}

.onboarding-survey .field{
	margin: 1rem;
}

.onboarding-survey input[type="text"] {
	max-width: 200px;
	/* margin-left: 1em; */

}

.feedback-class {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.emoji-button {
	background: none;
	border: none;
	font-size: 1.5em;
	cursor: pointer;

	width: 1.7em;
	height: 1.7em;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.emoji-button:last-child {
  margin-right: 1rem;
}

.highlight_green{
	background-color:rgb(204, 248, 204)  !important;
	font-size: 1.7em;
}

.highlight_red{
	background-color:rgb(250, 200, 183)  !important;
	font-size: 1.7em;
}

/* Feedback section headers */
.feedback-section-title {
	margin-top: 2em;
	margin-bottom: 1em;
	color: #003c5e;
	font-size: 1.3em;
	border-bottom: 2px solid #008f83;
	padding-bottom: 0.5em;
}

.feedback-section-title:first-of-type {
	margin-top: 1em;
}
