{% extends "new-layout.html" %}

{% block sidebar %}
	{% if onboarding %}
        <div class="column is-1"></div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block header %}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var raceCheckboxes = document.querySelectorAll('input[type="checkbox"][name="race"]');
        var raceInputField = document.getElementById('raceinput');

        var notListedCheckbox = Array.from(raceCheckboxes).find(cb => cb.dataset.notListed == "true");

        if (notListedCheckbox && raceInputField.value) {
            raceInputField.setAttribute('type', 'text');
            notListedCheckbox.checked = true;
        }

        if (notListedCheckbox) {
            notListedCheckbox.addEventListener('change', function (event) {
                if (event.target.checked) {
                    raceInputField.setAttribute('type', 'text');
                } else {
                    raceInputField.setAttribute('type', 'hidden');
                    raceInputField.value = '';
                }
            });
        }

        var zipConsentCheckbox = document.querySelector('input[name="zip-consent"]');
        zipConsentCheckbox.addEventListener('change', function (event) {
            var zipInput = document.getElementById('zip');
            if (event.target.checked) {
                zipInput.setAttribute('disabled', 'disabled');
                zipInput.value = '00000';
            } else {
                zipInput.removeAttribute('disabled');
                zipInput.value = '';
            }
        });

        var zipInput = document.getElementById('zip');
        zipInput.addEventListener('input', function (event) {
            var zip = event.target.value;
            if (zip.length > 5) {
                zip = zip.substring(0, 5);
                event.target.value = zip;
            } else if (zip.length < 5) {
                event.target.setCustomValidity('Please enter a 5 digit ZIP code.');
            } else {
                event.target.setCustomValidity('');
                zipConsentCheckbox.removeAttribute('required');
            }
        });

        if (zipInput.value.trim() === "") {
            zipConsentCheckbox.setAttribute('required', 'required');
            zipInput.setCustomValidity('Please enter a 5 digit ZIP code.');
        } else if (zipInput.value.trim() === "00000") {
            zipConsentCheckbox.removeAttribute('required');
            zipConsentCheckbox.checked = true;
        } else {
            zipConsentCheckbox.removeAttribute('required');
        }

        var emailCheckboxes = document.querySelectorAll('input[type="checkbox"][name="email_client"]');
        var otherInputField = document.getElementById('clientinput');

        var otherCheckbox = Array.from(emailCheckboxes).find(cb => cb.dataset.other == "true");

        if (otherCheckbox && otherInputField.value) {
            otherInputField.setAttribute('type', 'text');
            otherCheckbox.checked = true;
        }

        if (otherCheckbox) {
            otherCheckbox.addEventListener('change', function (event) {
                if (event.target.checked) {
                    otherInputField.setAttribute('type', 'text');
                } else {
                    otherInputField.setAttribute('type', 'hidden');
                    otherInputField.value = '';
                }
            });
        }
    });

    function validateForm(evt) {
        const checked = (checkbox) => checkbox.checked;
        const emailCheckboxes = [...document.querySelectorAll('input[type="checkbox"][name="email_client"]')];
        const raceCheckboxes = [...document.querySelectorAll('input[type="checkbox"][name="race"]')];
        const errorMessage = document.getElementById('emailClientError');
        const raceErrorMessage = document.getElementById('raceError');

        if (!raceCheckboxes.some(checked)) {
            raceErrorMessage.style.display = 'block';
            return false; // Prevent form submission
        } else {
            raceErrorMessage.style.display = 'none';
        }

        if (!emailCheckboxes.some(checked)) {
            errorMessage.style.display = 'block';
            return false; // Prevent form submission
        } else {
            errorMessage.style.display = 'none';
        }


        return emailCheckboxes.some(checked) && raceCheckboxes.some(checked);
    }
</script>
{% endblock %}
{% block content %}
<div class="container p-4 rounded-1 bg-white shadow-sm onboarding-survey">
    {% if updated %}
    <div class="pref-updated-flash">
        <p>
            <strong>Your information have been updated.</strong>
        </p>
    </div>
    {% endif %}
    <h1>Demographics Settings</h1>

    <p>
        Please provide the following information.
        <span class="hint--bottom-right hint--large" aria-label="To test whether studies ran on the POPROX platform make equitable improvements, we ask users to
        answer the following demographic questions. These may also be used to personalize the news recommendations.
        With the exception of ZIP code, this data may be shared with researchers. We ask for your zip code for internal
        use only; your exact zip code will not be shared with external researchers"><strong>(?)</strong></span>
    </p>
    <form action="{{'update_demographics'}}" onsubmit="return validateForm()" method="POST">
        <label class="form-label mt-4 fw-bold" for="genderselect">What is your gender identity?</label>
        <select class="form-select" id="genderselect"
            title="Select options for eliciting gender identity." name="gender" required="required">
            <option value="" {% if not user_demographic_information['gender'] %} selected {% endif %}>Select
                an option</option>
            {% for genderopt in genderopts %}
                <option value="{{genderopt}}" {% if user_demographic_information['gender']==genderopt %}
                selected {% endif %}>{{genderopt}}</option>
            {% endfor %}
        </select>

        <label class="form-label mt-4 fw-bold" for="birthyearselect">Please select your birth year.</label>
        <select class="form-select"
            id="birthyearselect"
            title="Select options for eliciting birth year." name="birthyear" required="required">
            <option value="" {% if not user_demographic_information['birth_year'] %} selected {% endif %}>
                Choose a year</option>
            {% for year in yearopts %}
                <option value="{{year}}" {% if user_demographic_information['birth_year']==year %} selected {%
                    endif %}>{{year}}</option>
            {% endfor %}
        </select>

        <label class="form-label mt-4 fw-bold" for="zip">Enter your 5 digit ZIP code</label>
        <input class="form-control" type="text" name="zip" id="zip" placeholder="ZIP code" required="required"
            value="{{ user_demographic_information['zip5'] }}">
        <div class="form-check mt-3 position-relative">
            <input class="form-check-input" id="zipdeny" type="checkbox" name="zip-consent" value="00000" required="required">
            <label class="form-check-label stretched-link" for="zipdeny">
                I prefer not to provide my ZIP code
            </label>
        </div>

        <label class="form-label mt-4 fw-bold" for="educationselect">What is the highest degree or level of education you have completed?</label>
        <select class="form-select"
            id="educationselect"
            title="Select options for eliciting level of education." name="education"
            required="required">
            <option value="" {% if not user_demographic_information['education'] %} selected {% endif %}>
                Select an option</option>
            {% for edlevel in edlevelopts %}
                <option value="{{edlevel}}" {% if user_demographic_information['education']==edlevel %} selected
                    {% endif %}>{{edlevel}}</option>
            {% endfor %}
        </select>

        <p class="form-label mt-4 fw-bold">Choose one or more races that you consider yourself to be:</p>
        <p id="raceError" style="color: red; display: none;">Please select at least one option.</p>
        <div class="col-lg-8 col-xl-6">
            <div class="row row-cols-md-2 ms-1" id="racecheck">
                {% set selected_races = user_demographic_information['race'].split(';') if
                user_demographic_information and user_demographic_information.get('race') else [] %}
                {% for raceopt in raceopts %}
                    <div class="form-check mt-2 position-relative">
                        <input class="form-check-input"
                            id="{{raceopt}}_checkinput"
                            type="checkbox" value="{{raceopt}}" name="race" {% if raceopt in selected_races %}
                            checked {% endif %} {% if raceopt=="Not listed (please specify)" %}
                            data-not-listed="true" {% endif %} />
                        <label class="form-check-label stretched-link" for="{{raceopt}}_checkinput">
                            {{raceopt}}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {% set custom_race = user_demographic_information['race_notlisted'] if
                user_demographic_information and 'race_notlisted' in user_demographic_information and
                user_demographic_information.get('race_notlisted')!= None else '' %}
            <input id="raceinput" type="{{ 'text' if custom_race else 'hidden' }}" name="race" class="form-control mt-3"
                placeholder="Please specify" value="{{ custom_race }}">
        </div>

        <p class="form-label mt-4 fw-bold">Choose one or more preferred email client:</p>
        <p id="emailClientError" style="color: red; display: none;">Please select at least one option.</p>
        <div class="col-lg-8 col-xl-6">
            <div class="row row-cols-md-4 ms-1" id="emailclientchecks">
                {% set selected_clients = user_demographic_information['email_client'].split(';') if
                    user_demographic_information and user_demographic_information.get('email_client') else [] %}
                {% for client in clientopts %}
                    <div class="form-check mt-2 position-relative">
                        <input class="form-check-input"
                            id="{{client}}_checkinput"
                            type="checkbox" value="{{client}}" name="email_client" {% if client in
                            selected_clients%} checked {% endif %} {% if client=="Other" %} data-other="true" {%
                            endif %} />
                        <label class="form-check-label stretched-link" for="{{client}}_checkinput">
                            {{client}}
                        </label>
                        </div>
                {% endfor %}
            </div>
        </div>
        {% set custom_email_client = user_demographic_information['email_client_other'] if
            user_demographic_information and 'email_client_other' in user_demographic_information and
            user_demographic_information.get('email_client_other')!= None else '' %}
        <input id="clientinput" type="hidden" name="email_client" class="form-control m-3" placeholder="Please specify"
            value="{{ custom_email_client}}">
        <input class="btn pr-btn mt-5" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
