{% extends "layout.html" %}

{% block sidebar %}
	{% if onboarding %}
        <div class="column is-1"></div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block header %}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        //-------------------------------------------------race
        var raceCheckboxes = document.querySelectorAll('input[type="checkbox"][name="race"]');
        var raceInputField = document.getElementById('raceinput');
        var notListedCheckbox = Array.from(raceCheckboxes).find(cb => cb.dataset.notListed == "true");

        function validateRaceSpecify(show = false) {
            if (!notListedCheckbox) return true;

            if (notListedCheckbox.checked) {
                raceInputField.type = 'text';
                raceInputField.required = true;

                if (!raceInputField.value.trim()) {
                    raceInputField.setCustomValidity('Please specify your race.');
                    if (show) raceInputField.reportValidity();
                    return false;
                } else {
                    raceInputField.setCustomValidity('');
                    if (show) raceInputField.reportValidity();
                    return true;
                }
            } else {
                raceInputField.required = false;
                raceInputField.type = 'hidden';
                raceInputField.value = '';
                raceInputField.setCustomValidity('');
                return true;
            }
        }

        if (notListedCheckbox && raceInputField.value) {
            notListedCheckbox.checked = true;
            raceInputField.type = 'text';
            raceInputField.required = true;
            raceInputField.setCustomValidity('');
        }

        if (notListedCheckbox) {
            notListedCheckbox.addEventListener('change', () => validateRaceSpecify(true));
        }
        raceInputField.addEventListener('input', () => validateRaceSpecify(false));
        raceInputField.addEventListener('blur',  () => validateRaceSpecify(true));

        validateRaceSpecify(false);
        //-------------------------------------------------race

        //-------------------------------------------------ZIP
        var zipConsentCheckbox = document.querySelector('input[name="zip-consent"]');
        zipConsentCheckbox.addEventListener('change', function (event) {
            var zipInput = document.getElementById('zip');
            if (event.target.checked) {
                zipInput.readOnly = true;
                zipInput.value = '00000';
                zipInput.setCustomValidity('');
            } else {
                zipInput.readOnly = false;
                zipInput.value = '';
                zipInput.setCustomValidity('Please enter a 5 digit ZIP code.');
            }
        });

        var zipInput = document.getElementById('zip');
        zipInput.addEventListener('input', function (event) {
            var zip = event.target.value;
            if (zip.length > 5) {
                zip = zip.substring(0, 5);
                event.target.value = zip;
            } else if (zip.length < 5) {
                event.target.setCustomValidity('Please enter a 5 digit ZIP code.');
            } else if (!/^\d{5}$/.test(zip)) {
                event.target.setCustomValidity('ZIP code must be digit only.');
            }
            else {
                event.target.setCustomValidity('');
                zipConsentCheckbox.removeAttribute('required');
            }
        });

        if (zipInput.value.trim() === "") {
            zipConsentCheckbox.setAttribute('required', 'required');
            zipInput.setCustomValidity('Please enter a 5 digit ZIP code.');
        } else if (zipInput.value.trim() === "00000") {
            zipConsentCheckbox.removeAttribute('required');
            zipConsentCheckbox.checked = true;
        } else {
            zipConsentCheckbox.removeAttribute('required');
        }
        //-------------------------------------------------ZIP

        //-------------------------------------------------birthyear
        function validateBirthyear(show=false) {
            const val = birthyearInput.value.trim();

            if (birthyearConsentCheckbox.checked && (val === '0000' || val === '0')) {
                birthyearInput.setCustomValidity('');
                if (show) birthyearInput.reportValidity();
                return true;
            }

            if (val === '') {
                birthyearInput.setCustomValidity('Please enter a valid birth year.');
                if (show) birthyearInput.reportValidity();
                return false;
            }

            if (!/^\d{4}$/.test(val)) {
                event.target.setCustomValidity('Birth year must be 4 digit only.');
                if (show) birthyearInput.reportValidity();
                return false;
            }


            const year = parseInt(val, 10);
            if (year < MIN_YEAR) {
                birthyearInput.setCustomValidity(`Brith year must be ${MIN_YEAR} or later.`);
            } else if (year > CURRENT_YEAR) {
                birthyearInput.setCustomValidity('Birth year cannot be in the future.');
            } else if (year > MAX_YEAR) {
                birthyearInput.setCustomValidity(`You must be at least ${MIN_AGE} years old to register.`);
            } else {
                birthyearInput.setCustomValidity('');
                birthyearConsentCheckbox.removeAttribute('required');
                if (show) birthyearInput.reportValidity();
                return true;
            }

            if (show) birthyearInput.reportValidity();
            return false;
        }

        function applyBirthyearState(checked) {
            if (checked) {
                birthyearInput.readOnly = true;
                birthyearInput.value = '0000';
                birthyearInput.setCustomValidity('');
                birthyearConsentCheckbox.removeAttribute('required');
            } else {
                birthyearInput.readOnly = false;
                if (birthyearInput.value === '0000' || birthyearInput.value === '0') {
                    birthyearInput.value = '';
                }
                validateBirthyear(true);
            }
        }


        const MAX_AGE = 124;
        const MIN_AGE = 18;
        const CURRENT_YEAR = new Date().getFullYear();
        const MAX_YEAR = CURRENT_YEAR - MIN_AGE;
        const MIN_YEAR = CURRENT_YEAR - MAX_AGE;

        var birthyearConsentCheckbox = document.querySelector('input[name="birthyear-consent"]');
        var birthyearInput = document.getElementById('birthyear');

        birthyearConsentCheckbox.addEventListener('change', (event) => applyBirthyearState(event.target.checked));
        birthyearInput.addEventListener('input', () => validateBirthyear(false));
        birthyearInput.addEventListener('blur',  () => validateBirthyear(true));

        const initVal = birthyearInput.value.trim();
        if (initVal === '0000' || initVal === '0') {
            birthyearConsentCheckbox.checked = true;
        }
        applyBirthyearState(birthyearConsentCheckbox.checked);

        if (!birthyearConsentCheckbox.checked && birthyearInput.value.trim() === '') {
            birthyearConsentCheckbox.setAttribute('required', 'required');
            birthyearInput.setCustomValidity('Please enter a valid birth year.');
        }
        //-------------------------------------------------birthyear

        //-------------------------------------------------emailclient
        var emailCheckboxes = document.querySelectorAll('input[type="checkbox"][name="email_client"]');
        var otherInputField = document.getElementById('clientinput');

        var otherCheckbox = Array.from(emailCheckboxes).find(cb => cb.dataset.other == "true");

        function validateOtherClient(show = false) {
            if (!otherCheckbox) return true;

            if (otherCheckbox.checked) {
                otherInputField.type = 'text';
                otherInputField.required = true;

                if (!otherInputField.value.trim()) {
                    otherInputField.setCustomValidity('Please specify your email client.');
                    if (show) otherInputField.reportValidity();
                    return false;
                } else {
                    otherInputField.setCustomValidity('');
                    if (show) otherInputField.reportValidity();
                    return true;
                }
            } else {
                otherInputField.required = false;
                otherInputField.type = 'hidden';
                otherInputField.value = '';
                otherInputField.setCustomValidity('');
                return true;
            }
        }

            if (otherCheckbox && otherInputField.value) {
                otherCheckbox.checked = true;
                otherInputField.type = 'text';
                otherInputField.required = true;
                otherInputField.setCustomValidity('');
            }

            if (otherCheckbox) {
                otherCheckbox.addEventListener('change', () => validateOtherClient(true));
            }
            otherInputField.addEventListener('input', () => validateOtherClient(false));
            otherInputField.addEventListener('blur', () => validateOtherClient(true));

            validateOtherClient(false);
        //-------------------------------------------------emailclient
    });

    function validateForm(evt) {
        const checked = (checkbox) => checkbox.checked;
        const emailCheckboxes = [...document.querySelectorAll('input[type="checkbox"][name="email_client"]')];
        const raceCheckboxes = [...document.querySelectorAll('input[type="checkbox"][name="race"]')];
        const errorMessage = document.getElementById('emailClientError');
        const raceErrorMessage = document.getElementById('raceError');

        if (!raceCheckboxes.some(checked)) {
            raceErrorMessage.style.display = 'block';
            return false;
        } else {
            raceErrorMessage.style.display = 'none';
        }

        if (!emailCheckboxes.some(checked)) {
            errorMessage.style.display = 'block';
            return false;
        } else {
            errorMessage.style.display = 'none';
        }


        return emailCheckboxes.some(checked) && raceCheckboxes.some(checked);
    }
</script>
{% endblock %}

{% block content %}
<div class="container p-4 rounded-1 bg-white shadow-sm onboarding-survey">
    {% if updated %}
    <div class="pref-updated-flash">
        <p>
            <strong>Your information have been updated.</strong>
        </p>
    </div>
    {% endif %}
    <h1>Demographics Settings</h1>

    <p>
        Please provide the following information.
        <span class="hint--bottom-right hint--large" aria-label="To test whether studies ran on the POPROX platform make equitable improvements, we ask users to
        answer the following demographic questions. These may also be used to personalize the news recommendations.
        With the exception of ZIP code, this data may be shared with researchers. We ask for your zip code for internal
        use only; your exact zip code will not be shared with external researchers"><strong>(?)</strong></span>
    </p>
    <form action="{{url_for('update_demographics')}}" onsubmit="return validateForm()" method="POST">

    <!-- Gender -->
        <label class="form-label mt-4 fw-bold" for="genderselect">What is your gender identity?</label>
        <select class="form-select" id="genderselect"
            title="Select options for eliciting gender identity." name="gender" required="required">
            <option value="" {% if not user_demographic_information['gender'] %} selected {% endif %}>Select
                an option</option>
            {% for genderopt in genderopts %}
                <option value="{{genderopt}}" {% if user_demographic_information['gender']==genderopt %}
                selected {% endif %}>{{genderopt}}</option>
            {% endfor %}
        </select>
    <!-- Gender -->

    <!-- Birthyear -->
        <label class="form-label mt-4 fw-bold" for="birthyear">Enter your birth year</label>
        <input class="form-control form-control-30" type="text" name="birthyear" id="birthyear" placeholder="yyyy" required="required"
            inputmode="numeric" maxlength="4"  pattern="\d{4}"
            value="{% if user_demographic_information.birth_year is none %}0000{% else %}{{ user_demographic_information.birth_year }}{% endif %}">
        <div class="form-check mt-3 position-relative">
            <input class="form-check-input" id="birthyeardeny" type="checkbox" name="birthyear-consent"
            {% if user_demographic_information.birth_year is none %}checked{% endif %}>
            <label class="form-check-label stretched-link" for="birthyeardeny">
                I prefer not to share my birth year
            </label>
        </div>
    <!-- Birthyear -->

    <!-- ZIP Code -->
        <label class="form-label mt-4 fw-bold" for="zip">Enter your 5 digit ZIP code</label>
        <input class="form-control form-control-30" type="text" name="zip" id="zip" placeholder="ZIP code" required="required"
            inputmode="numeric" maxlength="5"  pattern="\d{5}"
            value="{{ user_demographic_information['zip5'] }}">
        <div class="form-check mt-3 position-relative">
            <input class="form-check-input" id="zipdeny" type="checkbox" name="zip-consent" value="00000" required="required">
            <label class="form-check-label stretched-link" for="zipdeny">
                I prefer not to provide my ZIP code
            </label>
        </div>
    <!-- ZIP Code -->

    <!-- Education -->
        <label class="form-label mt-4 fw-bold" for="educationselect">What is the highest degree or level of education you have completed?</label>
        <select class="form-select"
            id="educationselect"
            title="Select options for eliciting level of education." name="education"
            required="required">
            <option value="" {% if not user_demographic_information['education'] %} selected {% endif %}>
                Select an option</option>
            {% for edlevel in edlevelopts %}
                <option value="{{edlevel}}" {% if user_demographic_information['education']==edlevel %} selected
                    {% endif %}>{{edlevel}}</option>
            {% endfor %}
        </select>
    <!-- Education -->

    <!-- Race -->
        <p class="form-label mt-4 fw-bold">Choose one or more races that you consider yourself to be:</p>
        <p id="raceError" style="color: red; display: none;">Please select at least one option.</p>
        <div class="col-lg-8 col-xl-6">
            <div class="row row-cols-md-2 ms-1" id="racecheck">
                {% set selected_races = user_demographic_information['race'].split(';') if
                user_demographic_information and user_demographic_information.get('race') else [] %}
                {% for raceopt in raceopts %}
                    <div class="form-check mt-2 position-relative">
                        <input class="form-check-input"
                            id="{{raceopt}}_checkinput"
                            type="checkbox" value="{{raceopt}}" name="race" {% if raceopt in selected_races %}
                            checked {% endif %} {% if raceopt=="Not listed (please specify)" %}
                            data-not-listed="true" {% endif %} />
                        <label class="form-check-label stretched-link" for="{{raceopt}}_checkinput">
                            {{raceopt}}
                        </label>
                    </div>
                {% endfor %}
            </div>
            {% set custom_race = user_demographic_information['race_notlisted'] if
                user_demographic_information and 'race_notlisted' in user_demographic_information and
                user_demographic_information.get('race_notlisted')!= None else '' %}
            <input id="raceinput" type="{{ 'text' if custom_race else 'hidden' }}" name="race" class="form-control form-control-30 mt-3"
                placeholder="Please specify" value="{{ custom_race }}">
        </div>
    <!-- Race -->

    <!-- Email Client -->
        <p class="form-label mt-4 fw-bold">Choose one or more preferred email client:</p>
        <p id="emailClientError" style="color: red; display: none;">Please select at least one option.</p>
        <div class="col-lg-8 col-xl-6">
            <div class="row row-cols-md-4 ms-1" id="emailclientchecks">
                {% set selected_clients = user_demographic_information['email_client'].split(';') if
                    user_demographic_information and user_demographic_information.get('email_client') else [] %}
                {% for client in clientopts %}
                    <div class="form-check mt-2 position-relative">
                        <input class="form-check-input"
                            id="{{client}}_checkinput"
                            type="checkbox" value="{{client}}" name="email_client" {% if client in
                            selected_clients%} checked {% endif %} {% if client=="Other" %} data-other="true" {%
                            endif %} />
                        <label class="form-check-label stretched-link" for="{{client}}_checkinput">
                            {{client}}
                        </label>
                        </div>
                {% endfor %}
            </div>
        </div>
        {% set custom_email_client = user_demographic_information['email_client_other'] if
            user_demographic_information and 'email_client_other' in user_demographic_information and
            user_demographic_information.get('email_client_other')!= None else '' %}
        <input id="clientinput" type="hidden" name="email_client" class="form-control form-control-30 m-3" placeholder="Please specify"
            value="{{ custom_email_client}}">
    <!-- Email Client -->

        <input class="btn pr-btn mt-5" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
