{% extends "layout.html" %}

{% block sidebar %}
	{% if onboarding %}
        <div class="column is-1"></div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="box">
	{% if updated %}
	<div class="pref-updated-flash">
		<p>
			<strong>Your feedback has been stored.</strong>
		</p>
	</div>
	{% endif %}

	<form action="{{ url_for('feedback') }}" method="POST">
		<h2>Here is your Today's News Recommendations.</h2>
		{% for impression in impressions %}
		<div class="columns" style="margin-top: 1em; margin-bottom: 1em;">
				<div class="column is-4">
					{% if impression.article.preview_image_id and impression.article.preview_image_id in images %}
            		{% set image = images[impression.article.preview_image_id] %}
					<img src="path/to/image.jpg">
					{% endif %}
				</div>
				<div class="column is-7">

						<a href="{{ impression.article.url }}">{{ impression.article.headline }}</a>
						<p>{{ impression.article.subhead }}</p>
				</div>
				<div class="column is-1">
						<button class="vote-button" type="submit" name="articlefeedbackType" value="{{ impression.article.article_id }}||{{ impression.newsletter_id }}||positive" style="background: none; border: none; font-size: 1.5em; cursor: pointer;">
							👍
						</button>
						<button class="vote-button" type="submit" name="articlefeedbackType" value="{{ impression.article.article_id }}||{{ impression.newsletter_id }}||negative" style="background: none; border: none; font-size: 1.5em; cursor: pointer;">
							👎
						</button>
				</div>
		</div>
		{% endfor %}
	</form>
</div>
{% endblock %}
