{% extends "layout.html" %}

{% block sidebar %}
{% if onboarding %}
<div class="col-1"></div>
{% else %}
{{ super() }}
{% endif %}
{% endblock %}

{% block header %}
<meta name="csrf-token" content="{{ csrf_token() }}">

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

		document.querySelectorAll(".feedback-form").forEach(form => {
			let clickedButton = null;

			form.querySelectorAll("button[name='articlefeedbackType']").forEach(button => {
				button.addEventListener("click", () => {
					clickedButton = button;
				});
			});

			form.addEventListener("submit", async (e) => {
				e.preventDefault();

				const formData = new FormData(form);
				const payload = {
					newsletter_id: formData.get("newsletter_id"),
					impression_id: formData.get("impression_id"),
					articlefeedbackType: clickedButton?.value || null
				};
				const response = await fetch(form.action, {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						'X-CSRFToken': csrfToken
					},
					body: JSON.stringify(payload)
				});

				if (response.ok && clickedButton) {
					form.querySelectorAll("button[name='articlefeedbackType']").forEach(btn => {
						btn.classList.remove("highlight_green", "highlight_red");
					});
					if (clickedButton.value === "positive") {
						clickedButton.classList.add("highlight_green");
						console.log(clickedButton.value)
						console.log("button classes:", clickedButton.className);
					} else {
						clickedButton.classList.add("highlight_red");
						console.log(clickedButton.value)
						console.log("button classes:", clickedButton.className);
					}
				}
			});
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="container">
	{% if updated %}
	<div class="pref-updated-flash">
		<p>
			<strong>Your feedback has been stored.</strong>
		</p>
	</div>
	{% endif %}


	<h2>Help us understand which recommendations were relevant for you</h2>
	{% if newsletter %}
	{% for section in newsletter.sections %}
	{% if section.title %}
	<h3 class="feedback-section-title">{{ section.title }}</h3>
	{% endif %}
	{% for impression in section.impressions %}
	<div class="row" style="margin-top: 0.5em;">
		<div class="col-2">
			{% if not nls_survey %}
			<form class="feedback-form feedback-class" action="{{ url_for('feedback') }}" method="POST">
    			<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
				<input type="hidden" id="newsletter_id" name="newsletter_id" value="{{ impression.newsletter_id }}">
				<input type="hidden" id="impression_id" name="impression_id" value="{{ impression.impression_id }}">

				<button type="submit" name="articlefeedbackType" value="positive"
					class="emoji-button {% if impression.feedback is true %} highlight_green {% endif %}"
					title="Show more articles like this">
					👍
				</button>

				<button type="submit" name="articlefeedbackType" value="negative"
					class="emoji-button {% if impression.feedback is false %} highlight_red {% endif %}"
					title="Don't show articles like this">
					👎
				</button>
			</form>
			{% endif %}
		</div>
		<div class="col-2">
			{% if impression.preview_image_id and impression.preview_image_id in images %}
			{% set image = images[impression.preview_image_id] %}
			<img src="{{image.url}}" style="width: 100%">
			{% endif %}
		</div>
		<div class="col-8">
			<p class="feedback-label">{{ impression.label }}</p>
			<a class="feedback-headline" href="{{ tracking_url_for(auth.get_account_id(), newsletter.newsletter_id, impression) }}">{{ impression.headline }}</a>
		</div>
	</div>
	{% endfor %}
	{% endfor %}
	{% else %}
	<p>We were not able to pull up your newsletter for feedback. Please return to your newsletter and try again. If this
		happens repeatedly please reach out to poprox@umn.edu for technical support.</p>
	{% endif %}
</div>

{% endblock %}
