<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title>Title</title>
</head>
<body>
<div class="block"></div>
<div class="block">
    <div class="columns is-mobile">
        <div class="column is-one-third">
            <div class="box">
                <aside class="menu">
                    {% if auth.is_logged_in() %}
                    <p class="menu-label">
                        {{ auth.get_email() }}
                    </p>
                    <ul class="menu-list">
                        <li><a href="{{url_for('logout')}}">Log Out</a></li>
                        {% if is_subscribed %}
                            <li><a href="{{url_for('unsubscribe')}}">Unsubscribe</a></li>
                        {% else %}
                            <li><a href="{{url_for('subscribe')}}">subscribe</a></li>
                        {% endif %}
                    </ul>
                    {% else %}
                    <p class="menu-label">
                        Poprox
                    </p>
                    {% endif %}
                </aside>
            </div>
        </div>
        <div class="column">
            {% if error %}
            <div class="notification is-danger">
                {{ error }}
            </div>
            {% endif %}
            <div class="box">
                <p class="title">
                    <a href="{{article[1]}}">{{article[0]}}</a>
                </p>
                <p>
                    {{article[2]}}
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
