<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/hint.css@3.0.0/hint.min.css" rel="stylesheet">
    <title>POPROX Newsletter</title>
	{% block header %}
	{% endblock %}
</head>

<body>
    <div class="block box">
        POPROX Newsletter
    </div>
    <div class="section p-3">
        <div class="columns">
            {% block sidebar %}
                <div class="column is-4">
                    <div class="box">
                        <aside class="menu ">
                            {% if auth.is_logged_in() %}
                                <p class="menu-label">
                                    {{ auth.get_email() }}
                                </p>
                                <ul class="menu-list">
                                    <li><a href="{{url_for('logout')}}">Log Out</a></li>
                                    <!-- {% if is_subscribed %}
                                        <li><a href="{{url_for('unsubscribe')}}">Unsubscribe</a></li>
                                    {% else %}
                                        <li><a href="{{url_for('subscribe')}}">subscribe</a></li>
                                    {% endif %} -->

                                    <li><a href="{{url_for('topics')}}">Topic Selection</a></li> <!-- added topic selection link here -->
                                    <li><a href="{{url_for('onboarding_survey')}}">Demographics and Compensation settings</a></li> <!-- added user demographic link here -->
                                </ul>
                            {% else %}
                                <p class="menu-label">
                                    Poprox
                                </p>
                            {% endif %}
                        </aside>
                    </div>
                </div>
            {% endblock %}

            <div class="column">
                {% block content %}
                {% endblock %}
            </div>

            <div class="column is-1"></div>
        </div>
    </div>
</body>

</html>
