<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <title>POPROX Newsletter</title>
	{% block header %}
	{% endblock %}
</head>

<body>
    <div class="block box">
        POPROX Newsletter
    </div>
    <div class="container">
        <div class="columns is-mobile">
            <!-- {% block sidebar %}
            <aside class="box menu column">
                <p class="menu-label">
                    {{ auth.get_email() }}
                </p>
                <ul class="menu-list">
                    <li><a href="{{url_for('logout')}}">Log Out</a></li>
                </ul>
                    </aside>
            {% endblock %} -->
            {% block content %}
            {% endblock %}
        </div>
    </div>

</body>

</html>
