{% extends "layout.html" %}
{% block header %}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        // FIXME: hardercoded index
        var racecheckboxes = document.querySelectorAll('input[type="checkbox"]');
        var racenotlisted = racecheckboxes[racecheckboxes.length - 1];
        var raceInputField = document.getElementById('raceinput');

        racenotlisted.addEventListener('change', function (event) {            
            if (event.target.checked) {
                raceInputField.setAttribute('type', 'text');
            } else {
                raceInputField.setAttribute('type', 'hidden');
                raceInputField.value = ''; 
            }
        });

        // Check if the "Not listed" checkbox was selected before and show the input field if so
        if (racenotlisted.checked) {
            raceInputField.setAttribute('type', 'text');
        }

    });

    function validateForm() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                return true;
            }
        }
        return false;
    }
</script>
{% endblock %}
{% block content %}

<div class="column box onboarding-survey">
    {% if updated %}
	<div class="pref-updated-flash">
		<p>
			<strong>Your information have been updated.</strong>
		</p>
	</div>
	{% endif %}
    <form action="/demographic_survey" onsubmit="return validateForm()" method="POST">
        <div class="column is-12 pt-0 mt-0">
			{% if not onboarding %}
				<a href="{{url_for('home')}}" class="button is-link is-pulled-right">Home</a> <!-- added a home button temporarily -->
			{% endif %}
		</div>
        <!--Gender input-->
        <div class="field">
            <label class="label">What is your gender identity?</label>
            <div class="control">
                <div class="select" id="genderselect">
                    <select title="Select options for eliciting gender identity." name="gender" required="required">
                        <option value="" {% if not user_demographic_information['gender'] %} selected {% endif %}>Select an option</option>
                        {% for genderopt in genderopts %}
                        <option value="{{genderopt}}" {% if user_demographic_information['gender'] == genderopt %} selected {% endif %}>{{genderopt}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <!--Birth year input-->
        <div class="field">
            <label class="label">Please select your birth year.</label>
            <div class="control">
                <div class="select">
                    <select title="Select options for eliciting birth year." name="birthyear" required="required">
                        <option value="" {% if not user_demographic_information['birth_year'] %} selected {% endif %}>Choose a year</option>
                        {% for year in yearopts %}
                        <option value="{{year}}" {% if user_demographic_information['birth_year'] == year %} selected {% endif %}>{{year}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <!--ZIP code input-->
        <div class="field">
            <label class="label">Enter your 5 digit ZIP code</label>
            <div class="control">
                <input class="input" type="text" name="zip" id="zip" placeholder="ZIP code" required="required" value="{{ user_demographic_information['zip5'] }}">
            </div>
        </div>
        <!--Education level input-->
        <div class="field">
            <label class="label">
                What is the highest degree or level of education you have completed?
            </label>
            <div class="control">
                <div class="select">
                    <select title="Select options for eliciting level of education." name="education"
                        required="required">
                        <option value="" {% if not user_demographic_information['education'] %} selected {% endif %}>Select an option</option>
                        {% for edlevel in edlevelopts %}
                        <option value="{{edlevel}}" {% if user_demographic_information['education'] == edlevel %} selected {% endif %}>{{edlevel}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <!--Race input-->
        <div class="field">
            <label class="label">Choose one or more races that you consider yourself to be:</label>
            <div class="checkboxes">
                <ul>
                    {% set selected_races = user_demographic_information['race'].split(';') if 'race' in user_demographic_information else [] %}
                    {% for raceopt in raceopts %}
                    <li class="checkbox">
                        <label class="checkbox">
                            <input type="checkbox" value="{{raceopt}}" name="race" 
                            {% if raceopt in selected_races %} checked {% endif %}/>
                            {{raceopt}}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
                <div class="field">
                    <input id="raceinput" type="{% if 'race_notlisted' in user_demographic_information and user_demographic_information['race_notlisted'] %}text{% else %}hidden{% endif %}"  name="race" class="input" placeholder="Please specify" required="required"
                        value="{% if 'race_notlisted' in user_demographic_information %}{{ user_demographic_information['race_notlisted'] }}{% endif %}">
                </div>
            </div>
        </div>
        <input class="button is-primary" type="submit" value="Submit">
    </form>
</div>
{% endblock %}
