{% extends "layout.html" %}
{% block sidebar %}
{% endblock %}
{% block content %}
{% if error %}

{% endif %}
<div class="block box">
	{% if error %}
	<div class="error-flash">
		<p>{{ error }}</p>
	</div>
	{% endif %}
	<div class="content">
		<h2>POPROX</h2>
		<p>POPROX is a personalized news service that delivers a daily, ad-free email newsletter featuring stories from the Associated Press, tailored to your interests.
			The service is free, and your email will remain private.
			POPROX, which stands for Platform for OPen Recommendation and Online eXperimentation, was developed at the University of Minnesota with support from four other universities.
			This project enables researchers to test new algorithms and presentation methods for news.
			Occasionally, you will be asked to provide feedback on your experience with POPROX and the news content.
		</p>

		<h2>Getting Started</h2>
		<p>If you're already receiving POPROX emails and want to adjust your settings, please click the link at the bottom of any POPROX email.	</p>
		<p>To enroll, please check these two boxes and provide your email address:</p>
	</div>
	<form action="{{url_for('pre_enroll_post')}}" method="post">
		<input type="hidden" id="source" name="source" value="{{source}}" >
		<input type="hidden" id="subsource" name="subsource" value="{{subsource}}" >
		<div class="field">
			<div class="control">
				<label  class="label" for="us_area">
					<input type="checkbox" id="us_area" name="us_area" required >
					I live in the United States.
				</label>
			</div>
		</div>
		<div class="field">
			<div class="control">
				<label class="label" for="legal_age">
					<input type="checkbox" id="legal_age" name="legal_age" required>
					I am legally considered an adult<span class="hint--top-right hint--large" aria-label="In most of the United states this means you are at least 18 years old, except in Alabama and Nebraska where adulthood begins at 19 or in Mississippi and Puerto Rico where it begins at 21">(?)</span>
				</label>
			</div>
		</div>
		<div class="field">
			<label class="label">Email</label>
			<div class="control">
			  <input class="input" name="email" type="email" placeholder="Email" required>
			</div>
		  </div>
		  <div class="control">
			<button class="button is-link">Submit</button>
		  </div>
	</form>
</div>

{% endblock %}
