{% extends "new-layout.html" %}

{% block header %}
<meta property="og:title" content="POPROX" >
<meta property="og:type" content="website" >
<meta property="og:url" content="https://poprox.ai/enroll" >
<meta property="og:image" content="https://poprox.ai/assets/images/logos_and_icons/POPROX24-temp00A-01.png" >
<meta property="og:site_name" content="POPROX">
<meta property="og:description" content="POPROX is a personalized news service that delivers a daily, ad-free email newsletter featuring stories from the Associated Press, tailored to your interests">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="user.poprox.ai">
<meta property="twitter:url" content="https://poprox.ai/enroll">
<meta name="twitter:title" content="POPROX Newsletter">
<meta name="twitter:description" content="POPROX is a personalized news service that delivers a daily, ad-free email newsletter featuring stories from the Associated Press, tailored to your interests">
{% endblock %}

{% block sidebar %}
<!-- no sidebar -->
<div class="column is-1"></div>
{% endblock %}

{% block content %}

{% if error %}
<div class="error-flash">
	<p>{{ error }}</p>
</div>
{% endif %}
<div class="card-body">
	<h2 class="card-title text-center">Stay Informed, Your Way</h2>
	<h5 class="card-title text-center">The stories that matter to you delivered to your inbox daily—no ads, just news.</h5>
</div>
<div class="card-body">
	<img class="image-fluid mx-auto d-block" src="static/example-newsletter.jpg" width="95%" style="max-width:400px;max-height:600px;">
</div>
<div class="card-body">

	<h5 class="card-title">What's POPROX?</h5>
	<p>POPROX is a news recommendation research platform that helps researchers learn about the role of personalization in news and journalism.
		It's funded by the National Science Foundation and developed at the University of Minnesota.
	</p>

	<h5 class="card-title">How Does It Work?</h5>
	<p class="card-text">Every day we send you a newsletter with AP News articles curated just for you based on your interests, reading history, and feedback.
	</p>

	<h5 class="card-title">How Do I Sign Up?</h5>
	<p class="card-text">Please provide your email address and confirm that you qualify to participate in research studies:</p>

	<form action="{{url_for('pre_enroll_post')}}" method="post">
		<input type="hidden" id="source" name="source" value="{{source}}" >
		<input type="hidden" id="subsource" name="subsource" value="{{subsource}}" >
		<div class="form-group row">
			<label for="email">Email:</label>
			<input class="form-control col col-md-1" name="email" id="email" type="email" autocomplete="email" placeholder="Email" required>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="us_area" name="us_area" required >
			<label  class="form-check-label" for="us_area">
				I live in the United States.
			</label>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="legal_age" name="legal_age" required>
			<label class="form-check-label" for="legal_age">
				I am legally considered an adult
			</label>&nbsp;&nbsp;<span class="hint--top-left hint--large" aria-label="In most of the United states this means you are at least 18 years old, except in Alabama and Nebraska where adulthood begins at 19 or in Mississippi and Puerto Rico where it begins at 21">(?)</span>
		</div>
		<button type="submit" class="btn btn-primary mt-3">Subscribe</button>
	</form>
</div>
<div class="card-body">
	<h5 class="card-title">What Else Should I Know?</h5>
	<p class="card-text">As a research project, the POPROX <a href="/static/Subscriber_Agreement_v2.pdf#page=1">Terms and Conditions</a> and <a href="/static/Subscriber_Agreement_v2.pdf#page=3">Privacy Policy</a> are described
		in our <a href="/static/Subscriber_Agreement_v2.pdf">Informed Consent to Participate
		in Research Agreement</a>.
	</p>
</div>


{% endblock %}
