{% extends "layout.html" %}

{% block sidebar %}
	{% if onboarding %}
        <div class="column is-1"></div>
    {% else %}
        {{ super() }}
    {% endif %}
{% endblock %}

{% block content %}
<div class="box">
	{% if updated %}
	<div class="pref-updated-flash">
		<p>
			<strong>Your preferences have been updated.</strong>
		</p>
	</div>
	{% endif %}

	<form action="/topics" method="POST">
		<div class="columns">
			<div class="column is-half">
				<h2>Topic Selection survey</h2>
			</div>
		</div>
		{% if onboarding %}
		<p>
			This survey is required to complete the enrollment process, but you are free to skip any question you prefer not to answer. Your responses will help the algorithms find articles that match your interests.
		</p>
		<div class="block content">
			<p><strong>
					1. Please mark your initial preference by selecting the your level of interest in the following topics.
				</strong></p>
		{% else %}
		<div class="block content">
			<p><strong>
					1. Here is your latest preference of interest in the following topics. You can edit your preference by clicking new preference level for any following topics.
				</strong></p>
		{% endif %}
			<div class="row row-cols-1 g-3">
				{% for topic in topics %}
				{% set input_name = topic|replace(' ', '_') + "_pref" %}
				<div class="col">
					<div class="row row-cols-auto g-2 align-items-center border rounded p-3 pref-item-block">
						<div class="col-auto topic-label-container">
							<strong>{{ topic }}</strong>
						</div>
						{% for intlvl in intlvls %}
						<div class="col topic-radio-container">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="{{ input_name }}" value="{{ intlvl[1] }}"
									{% if user_topic_preferences.get(topic) == intlvl[1] %}
									checked
									{% endif %}
									id="{{ input_name }}_{{ intlvl[1] }}">
								<label class="form-check-label" for="{{ input_name }}_{{ intlvl[1] }}">
									{{ intlvl[0] }}
								</label>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
		<input class="btn btn-primary mt-3" type="submit" value="Submit">
	</form>
</div>
{% endblock %}
