{% extends "experimenter_main_layout.html" %}

{% block breadcrumbs %}
<li class="breadcrumb-item active" aria-current="page">experimenter dashboard</li>

{% endblock %}

{% block content %}

    <h1> Your Teams </h1>
    <ul>
        {% for team in teams.values() %}
        <li><a href="{{url_for('experimenter.team_dashboard', team_id=team.team_id)}}">{{team.team_name}}</a></li>
        {% endfor %}
    </ul>

    <h1>Your Experiments</h1>
    <ul>
      {% for expt in experiments.values() %}
      <li><a href="{{url_for('experimenter.expt_dashboard', experiment_id=expt.experiment_id)}}">{{expt.description}}</a></li>
      {% endfor %}
      </ul>
{% endblock %}
