{% extends "static_layout.html" %}

{% block content %}

        <div class="container">
            <div class="row align-items-center">
                <!-- Image Section -->
                <div class="row-md-6 text-center">
                    <img src="/img/POPROX24-temp00A-01.svg" alt="logo" width="50%" height="50%">
                </div>
                <div class="col-md-12 text-center m-2">
                    <h3>The Platform for OPen Recommendation and Online eXperimentation</h3>
                    <p>
                        POPROX is a personalized daily newsletter that delivers curated stories from the Associated
                        Press. It also serves as a platform for researchers to study news recommendation and
                        personalization. Funded by the National Science Foundation (NSF), POPROX is dedicated to
                        developing infrastructure that facilitates "in the wild" personalization research.
                    </p>
                </div>
                <div class="row">
                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Getting our newsletter</h5>
                                <p class="card-text">
                                    POPROX brings you a daily personalized newsletter straight to your email inbox with
                                    news from the Associated Press. At the same time, you'll be contributing to
                                    recommender systems research, enabling academic researchers to learn how best to
                                    deliver personalized content. Can't let the industry platforms have all the fun.
                                </p>
                                <a href="/newsletter" class="pr-btn btn btn-primary mt-3">I’m interested in POPROX
                                    newsletters</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Conducting research</h5>
                                <p class="card-text">
                                    POPROX provides a unique opportunity for researchers in recommender systems, natural
                                    language processing, journalism / communication studies, and others. You are able to
                                    control daily recommendations delivered to research participants without having to
                                    enroll them yourself. In addition to behavioral measures (stories clicked on), you
                                    will also get responses from a weekly survey conducted using validated instruments
                                    related to user experience and news consumption.
                                    <br>
                                    Ready to sign up? Fill out our intake form <a href="/documents/intake-form.docx"
                                        class="social-icon download" download>
                                        <i class="bi bi-download"></i>
                                    </a> and email to <a href="mailto:poprox@umn.edu"> poprox@umn.edu </a>

                                    <a href="/experimenter" class="pr-btn btn btn-primary mt-3">I’m interested in doing
                                        research with POPROX</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 d-flex align-items-stretch">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Learning more</h5>
                                <p class="card-text">
                                    POPROX is a collaboration between five universities and the Associated Press. We are
                                    supported by the National Science Foundation under the Community Infrastructure for
                                    Research in Computer and Information Science and Engineering program.
                                </p>
                                <a href="/about" class="pr-btn btn btn-primary mt-3">I want to learn more about the
                                    POPROX project</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
