<%- include('partials/head'); %>
    <%- include('partials/navbar'); %>

    <div class="container">
        <div class="markdown-content">
            <%- markdownContent %>
        </div>
    </div>

<%- include('partials/footer'); %>
